.products-typography {
    font-size: 42px;
    line-height: 48px;
    color: #2d2e36;
    font-weight: 400;
    font-family: Bodoni Moda;
    margin: 0 0 50px 86px;
}
.main-product-list {
    padding: 0 5%;
    margin-top: 100px;
}
.vestibulum {
    margin-left: 86px;
    font-family: Jost;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    display: flex;
    &::before {
        content: '';
        display: block;
        position: relative;
        top: 10px;
        border: 2px solid #bb5644;
        width: 20px;
        height: 0;
        margin-right: 10px;
    }
}
.main-card {
    flex-wrap: wrap;
}
.product-button {
    display: block;
    margin: auto;
    width: 140px;
    line-height: auto;
}
