@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Roboto&family=Lato&family=Jost:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #bb5644;
}
body {
    background-color: rgb(255, 248, 238);
}
.row {
    display: flex;
}
.col-2 {
    max-width: 50%;
    flex: 0 0 50%;
}
.col-3 {
    max-width: 33%;
    flex: 0 0 33%;
}
.col-4 {
    max-width: 25%;
    flex: 0 0 25%;
}
.col-6 {
    max-width: 16.666%;
    flex: 0 0 16.666%;
}
.scarlet-button {
    background-color: #bb5644;
    border-color: #bb5644;
    color: white;
    font-family: Jost;
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    padding: 12.5px 31.5px;

}
.scarlet-button:hover {
    background-color: #b66253;
}
.space-for-cards {
    margin: 0 20px;
}
.t-a-left {
    text-align: left;
}
.title-h1 {
    font-family: Bodoni Moda;
    font-size: 80px;
    font-weight: 400;
    line-height: 72px;
}
.m-r-0 {
    margin-right: 0 !important;
}
.liked-buy {
    margin-top: 50px;
    font-size: 25px;
    font-family: Jost;
    color: #696969;
    
}
.liked-buy button {
    border: 0;
    margin-top: 10px;
}