.removeProductFromCart-btn {
    width: 35px;
    height: 35px;
    border: 0;
    background-color: white;
    border-radius: 100%;
    transition: 0.3s;
    position: absolute;
    margin: 0 0 0 250px;
    cursor: pointer;

    &:hover {
        background-color: #b66253;
        padding: 5px;
    }

    img {
        width: 70%;
        height: 70%;
    }
}
