.products-typography {
    font-size: 42px;
    line-height: 48px;
    color: #2d2e36;
    font-weight: 400;
    font-family: Bodoni Moda;
    margin: 0 0 50px 86px;
}
.product-list-container {
    padding: 0 5%;
    margin-top: 100px;
}

.main-card {
    flex-wrap: wrap;
}
.product-button {
    display: block;
    margin: auto;
    width: 140px;
    line-height: auto;
}
