.products-title {
    text-align: center;
    .vestibulum {
        justify-content: center;
        margin: 0 0 20px;
    }
}

.filter-tools {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 2%;
    display: flex;
    justify-content: right;
    a {
        font-size: 20px;
        line-height: 18px;
        font-family: Jost;
        color: #626262;
        width: 74px;
        align-items: center;
        display: flex;
        &:hover {
            text-decoration: underline;
        }
    }

    img {
        width: 18px;
        height: 18px;
        margin-right: 5px;
    }
    div {
        &:hover ul {
            display: initial;
        }
    }
}
.filter-categories {
    display: none;
    position: absolute;
    margin-left: 23px;

    li {
        color: #626262;
        list-style-type: none;
        font-family: Jost;
        margin-top: 5px;
        font-size: 18px;

        &:hover {
            text-decoration: underline;
        }
    }
}
